// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #00612d
$secondary = #1785d5
$tertiary  = #14182f

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

// those are the default values, required for my mixin
$breakpoint-xs = 575px
$breakpoint-sm = 767px
$breakpoint-md = 991px
$breakpoint-lg = 1199px

page-backdrop-overlay = rgba(white, 0.75)

page-backdrop(image)
  background no-repeat center center fixed
  background-size cover
  background-image linear-gradient(page-backdrop-overlay, page-backdrop-overlay, url('/statics/img/xs/wide/' + image + '.jpg'))
  @media (min-width $breakpoint-xs + 1)
    background-image linear-gradient(page-backdrop-overlay, page-backdrop-overlay, url('/statics/img/sm/wide/' + image + '.jpg'))
  @media (min-width $breakpoint-sm + 1)
    background-image linear-gradient(page-backdrop-overlay, page-backdrop-overlay, url('/statics/img/md/wide/' + image + '.jpg'))    
  @media (min-width $breakpoint-md + 1)
    background-image linear-gradient(page-backdrop-overlay, page-backdrop-overlay, url('/statics/img/lg/wide/' + image + '.jpg'))
  @media (min-width $breakpoint-lg + 1)
    background-image linear-gradient(page-backdrop-overlay, page-backdrop-overlay, url('/statics/img/xl/wide/' + image + '.jpg'))
